<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Lab Activity</title>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
      <link rel="stylesheet" href="styles.css">
      <link
         type="text/css"
         rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
         />
      <link
         type="text/css"
         rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
         />
      <script src="https://unpkg.com/vue"></script>
      <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
      <script src = "lessons.js"></script>
   </head>
   <body>
      <main>
         <a name="top">
               <div class="text-black">
                  <div class="math">
               
                     <div class="container" id="math">
                        
                        <template v-if="showLessons">
                           <div  class="page-holder bg-cover">
                              <div class="container py-5">
                                 <header class="text-center text-black py-5">
                                    <h1 class="display-4 font-weight-bold mb-4">The Bookshop</h1>
                                    
                                    <br> <br>
                                    <img class="headimg"src='images/book.svg'>
                                    <div class="slide-right">
                                       <br>
                                       <!-- <h2>Hi There! Scroll down for the bookstore</h2> -->
                                       <!-- <i class="fas fa-angle-down fa-2x "></i> -->
                                    </div>
                                 </header>
                              </a>
                           <form >
                              <div class="radioDesign">
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="radio" id="price" v-model="category"  value="price" >
                                 <label class="form-check-label" for="inlineRadio1">Sort by Price</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="radio" id="inlineRadio2" v-model="category"  value="title">
                                 <label class="form-check-label" for="inlineRadio2">Sort by Name</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="radio" id="inlineRadio3"v-model="category" value="location"  >
                                 <label class="form-check-label" for="inlineRadio1">Sort by Location</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="radio" id="inlineRadio4"v-model="category" value="spaces"  >
                                 <label class="form-check-label" for="inlineRadio1">Sort by Stock</label>
                              </div>
                           </form>
                           <form id="test">
                           <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radio2" id="inlineRadio5" v-model="order"   value="asc" >
                              <label class="form-check-label" for="inlineRadio2">Sort by asc</label>
                           </div>
                           <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="radio2" id="inlineRadio5" v-model="order"  value="desc" >
                              <label class="form-check-label" for="inlineRadio2">Sort by desc</label>
                           </div>
                        </form>
                        <br> <br>
                           <div class="row">
                              <div v-for="lessons in sortAsc"  class="col-md-4 col-5 my-1 mt-5">
                                 <div class="card h-100">
                                    <img :src="lessons.image" class="card-img-top">
                                    <div class="card-body">
                                       <div class="card-title">
                                          <h2 class="lead" v-html="lessons.title"></h2>
                                       </div>
                                       <p class="lead" v-text="lessons.location"></p>
                                       <div>
                                          <span class="badge badge-info">${{ lessons.price }}</span>
                                       </div>
                                       <p class="lead">Number of spaces:{{ lessons.spaces}}</p>
                                       <b-button variant="outline-secondary" v-on:click="addToCart(lessons)" v-if='canAddToCart(lessons)'> Add to Cart </b-button>
                                       <button disabled='disabled' v-else>Stock Over</button>
                                       <span v-if='lessons.spaces === cartCount(lessons.id)'>All out!</span>
                                       <span v-else-if="lessons.spaces - cartCount(lessons.id) < 5">
                                       Only {{lessons.spaces }} left!</span>
                                       <span v-else>Buy now!</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <template v-if="cart.length >0">
                           <button  v-on:click='showCheckout'>
                              <a href="#top">Checkout</a>
                              {{cartItemCount}}
                              <i class="fas fa-shopping-cart"></i>
                              </button>
                           </template>
                           <button disabled='disabled'  v-else>Please add items to Checkout</button>
                           </template>
                        <template v-else>   
                           <div>
                              <button v-on:click='showCheckout'>
                                 {{cartItemCount}}
                                 <i class="fas fa-shopping-cart"></i>Back to Product List
                                 </button>
                           <h2>Checkout</h2>
                           <div class="row justify-content-start">
                           <div v-for="lessons in sortAsc" class="col-md-4 col-5 my-1 mt-5">
                              <template v-if="checkSubject(lessons.id)">
                              <div class="card h-100">
                                 <img :src="lessons.image" class="card-img-top">
                                 <div class="card-body">
                                    <div class="card-title">
                                       <h2 class="lead" v-html="lessons.title"></h2>
                                    </div>
                                    <p class="lead" v-text="lessons.location"></p>
                                    <div>
                                       <span class="badge badge-info">${{ lessons.price }}</span>
                                    </div>
                                    <p class="lead">In cart x :{{ Math.abs(5 - lessons.spaces )}}</p>
                                    
                                    <b-button variant="outline-danger" v-on:click="removeFromCart(lessons)"> Remove from Cart </b-button>
                            
                                 </div>
                              </div>
                              </template>
                           </div>
                           </div>
                           <form class="text-center">
                              <p>
                                 <div class="form-row mb-4">
                                    <div class="col">
                                 <strong>First Name: </strong>
                                 <input v-model.trim="orders.firstName">
                             </p>
                             <p>
                                 <strong>Last Name: </strong>
                                 <input v-model.trim="orders.lastName">
                             </p>
                             <p><strong>Phone: </strong> <input v-model="orders.Phone"> </p>
                             <p><strong>cardNo: </strong> <input v-model="orders.cardNo"> </p>
                             
                                 
                         
      
                         <img src="images/card.png">
                             <h2>Order information</h2>
                             <p> First Name: {{orders.firstName}}</p>
                             <p>Last Name: {{orders.lastName}}</p>
                             <p>Phone: {{orders.Phone}}</p>
                             <p>cardNo: {{orders.cardNo}}</p>
                           
                             <button v-on:click = "submitForm">Submit Order</button>
                           </div>
                          
                       </template>
                      
                   
                  </div>
                  </div>
        </div>
        </div>
        </div>
        
      </main>
      <script type="text/javascript">
         new Vue({
             el: ".math",
             data: {
               lessons:lessons,
               
                 cart: [],
                 showLessons: true,
                 show:'one',
                 sort:lessons,
                 category:"",
                 order:"",
                 orders: {
                    firstName: '',
                    lastName: '',
                    Phone: '',
                    cardNo: '',
                    zip:'',
                    state: '',
                    postalCode: '',
                    method:'Home',
                    gift: '',
                    sendGift:'Send as a gift',
                    dontSendGift:'Do not send as a gift'
                },
                states: {
                    AL: 'Alabama',
                    AR: 'Arizona',
                    CA: 'California',
                    NV: 'Nevada'
                },
                 
             },
             methods: {
                 addToCart(lessons) {
                     this.cart.push(lessons.id);
                     // this.cart.push(lessons.image);
                     //this.lessons.spaces-1;
                     lessons.spaces--;
                 },
                 removeFromCart(lessons)
                 {
          
                  this.cart.splice(this.cart.indexOf(lessons.id), 1);
         
                 },
                 submitForm() {
                    alert('Order submitted!')
                },
                checkSubject(id){
                   let length=this.cart.length;
                   let found=0;
                   for(i=0;i<length;i++)
                   {
                     if (this.cart[i]==id)
                        {
                        found=1;
                        }
                 
                   }
                       if (found==1)
                       {
                          return true;
                       }
                       else{
                          return false;
                       }
                },
                
                 showCheckout() {
                         this.showLessons = this.showLessons ? false : true;
                     },
                 canAddToCart(lessons){
                     return 5 > this.cartCount(lessons.id)
                     
                 },
                 cartCount(id) {
                  let count = 0;
                  for (let i = 0; i < this.cart.length; i++) {
                   if (this.cart[i] === id) {
                         count++;
               }
             }
             return count;
         }
             },
             computed:{
               sortAsc(){

  
                   if(this.category=="price")
                  {
                     if(this.order=="asc")
                  {
                  this.lessons.sort((a, b) => (a.price > b.price) ? 1 : -1)
                  }
                  else if(this.order=="desc"){
                     this.lessons.sort((a, b) => (a.price < b.price) ? 1 : -1)
                  }
                  }
                  else if(this.category=="title")
                  {
                     if(this.order=="asc")
                  {
                  this.lessons.sort((a, b) => (a.title > b.title) ? 1 : -1)
                  }
                  else if(this.order=="desc"){
                     this.lessons.sort((a, b) => (a.title < b.title) ? 1 : -1)
                  }
                  }
                  else if(this.category=="location")
                  {
                     if(this.order=="asc")
                  {
                  this.lessons.sort((a, b) => (a.location > b.location) ? 1 : -1)
                  }
                  else if(this.order=="desc"){
                     this.lessons.sort((a, b) => (a.location < b.location) ? 1 : -1)
                  }
                
                  }
                  else  if(this.category === "spaces"){
                            var sortedArray = this.lessons.sort((a,b) => a.spaces > b.spaces ? 1:-1);
                            
                            if(this.category === "spaces" && this.order === 'asc'){
                                sortedArray.sort((a,b)=> a.spaces > b.spaces ? 1:-1)
                            }
                            if(this.category === "spaces" && this.order === 'desc'){
                                sortedArray.sort((a,b)=> a.spaces < b.spaces ? 1:-1)
                            }
                        }
                  return lessons;
                 },
                cartDisplay()
                {
                        return this.lessons.image || '';
                },
               
               
                 cartItemCount:function (){
                     return this.cart.length || '';
          
                 }
               
         }
         });
 
      </script>
   </body>
</html>